.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #272727;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

.login-website-logo {
  width: 150px;
  align-self: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-label {
  color: #f1f5f9;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

.username-input-field,
.password-input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #7e858e;
  background-color: transparent;
  color: #f1f5f9;
  border-radius: 4px;
  outline: none;
}

.login-button {
  background-color: #6366f1;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.error-message {
  color: #ff0b37;
  font-size: 14px;
  margin-top: 8px;
}