/* JobItemDetails/index.css */
.job-item-details-bg-container {
  background-color: #000000;
  min-height: 90vh;
  padding: 30px;
  color: #f1f5f9;
}
.job-details-card {
  background-color: #272727;
  border-radius: 12px;
  padding: 20px;
}
.description-visit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description-visit-container a {
  color: #6366f1;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.skills-heading, .life-at-company-heading, .similar-jobs-heading {
  font-size: 24px;
  margin-top: 20px;
}
.skills-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.skill-item {
  display: flex;
  align-items: center;
  width: 150px;
  margin: 10px;
}
.skill-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.life-at-company-container {
  display: flex;
}
.life-at-company-container p {
  flex: 1;
  margin-right: 20px;
}
.life-at-company-container img {
  flex: 1;
  max-width: 50%;
}
.similar-jobs-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* SimilarJobItem/index.css */
.similar-job-item {
  background-color: #272727;
  border-radius: 12px;
  padding: 20px;
  width: 30%;
  margin: 10px;
  color: #f1f5f9;
}